.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}

mat-form-field

/* mat-checkbox, 
*/
    {
    width: 100%;
    margin-bottom: 10px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* For Firefox 
input[type=number] {
    -moz-appearance: textfield;
 } */