<div class="container mt-5">
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20">
    
    <mat-grid-tile>
      <img src="../../img/simple_crud_operations.png" alt="crud-operation" />
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="../../img/coming_soon.png" alt="Coming Soon">
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="../../img/coming_soon.png" alt="Coming Soon" />
    </mat-grid-tile>

    <mat-grid-tile>
      <img src="../../img/coming_soon.png" alt="Coming Soon">
    </mat-grid-tile>

  </mat-grid-list>
</div>
